<header>
    <div id="left"><a href="/">Socio</a></div>
    <div id="right">
        <%if(locals.user) { %>
            <a href="/users/profile/<%= user.id %>"><%= user.name %></a>
            |
            <a href="/users/sign-out">Sign Out</a>
        <% } else{ %>
            <a href="/users/sign-in">Sign In</a>
            |
            <a href="/users/sign-up">Sign Up</a>
        <% } %>    
    </div>
</header>